/*
    *****************
    inspired by clement mihailescu
    *****************
*/
* {
  
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

* {  box-sizing: border-box;}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


nav {
  background-color: #212529;
  color: #B19F9E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  padding: 0% 0%;
}

nav .array-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 40%;
      grid-template-columns: 40% 60%;
  place-content: center;
  padding-top: 4%;
  margin: 0% 0% 0px 5%;
}
nav .array-inputs > p{
  margin-top: 5px ;
  margin-bottom: 5px ;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav .array-inputs #a_size {
  padding: 5% 0%;
  
}

nav .array-inputs #a_speed {
  padding: 5% 0%;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  border: none;
  outline: none;
  color: #B19F9E;
  padding: 2px;
  margin: 4% 0% 0% 0%;
  margin-top: 10%;
  margin-left: 20%;
  padding: 10px 0px 10px 0;
  width: 100%;
}

nav .array-inputs #a_generate:hover {
  border-radius: 3px;
  background-color:#B19F9E;;
  border: 1px solid ;
  color:#212529;
  cursor: pointer;
  transition: 0.3s;
}

nav .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
       
}

nav .header_right .nav-heading {
  display: inline-block;
  font-size: xx-large;
  padding: 3% 0%;
}

nav .header_right .algos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10%)(1);
      grid-template-columns: repeat(2, 45%);
      place-content: center;
      margin-bottom: 3px;
}

nav .header_right .algos button {
  background-color: transparent;
  border: none;
  color: #B19F9E;
  outline: none;
  padding: 5% 0%;
  font-size: 100%;
  width: 100%;
}

nav .header_right .algos button:hover {
  /* //while working */
  cursor: pointer;
  border-radius: 3px;
  background-color: #B19F9E;
  border: 1px solid ;
  color:white; 
  cursor: pointer;
  transition: 0.3s;
}

nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

nav .header_right .algos .butt_selected {
  border-radius: 3px;
  background-color: white;
  color: #B19F9E;
}

nav .header_right .algos .butt_selected:hover {
  background-color: #B19F9E;
  cursor: pointer;
  transition: 0.3s;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: #B19F9E;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

section {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

section .Complexity_Containers {
  margin-top: 20%;
}

section .Complexity_Containers .Pair_Definitions {
  margin-top: 20%;
}

section .Complexity_Containers .Pair_Definitions p {
  display: inline;
}

section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
  font-size: medium;
  text-transform: none;
}

section #Info_Cont1 {
  padding: 20% 10%;
}

section #Info_Cont1 h3 {
  text-decoration: underline;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
}

section #Info_Cont2 {
  padding: 20% 10%;
}

section #Info_Cont2 h3 {
  text-decoration: underline;
}

.hide {
  display: none;
}


@media screen and (min-width: 720px) {
  nav .header_right .nav-heading {
    display: inline-block;
    font-size: xxX-large;
    padding: 3% 0%;
  }
  nav .header_right .algos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)(1);
        grid-template-columns: repeat(3, 30%);
        place-content: center;
  }
  nav .array-inputs #a_generate {
    background-color: transparent;
    border: none;
    outline: none;
    color: #B19F9E;
    padding: 2px;
    margin: 4% 0% 0% 0%;
    margin-top: 10%;
    margin-left: 20%;
  padding: 10px 0px 10px 0;
    width: 100%;
  }
  nav .array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 40%;
        grid-template-columns: 40% 60%;
    place-content: center;
    padding-top: 4%;
    margin: 0% 15% 0px 15%;
  }
  nav .array-inputs > p{
    margin-top: 5px ;
    margin-bottom: 5px ;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/*
    *****************
   inspired by clement mihailescu
    *****************
*/
/*# sourceMappingURL=style.css.map